body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f37d1d; 
  color: #a1e77b;
}

header {
  background-color: #53c1f4;
  color: rgb(19, 19, 19);
  padding: 10px 0;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  background-color: rgb(228, 12, 12);
  border-radius: 5px;
  text-align: center;
}

button {
  background-color: #559fef;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 button:hover {
    background-color: #e3eb6a;
 } 